.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #000000;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

main{
    margin-top: 100px;
}
